@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');

body{
    /* CSS goes here */
    background-color: whitesmoke;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    color:black;
}

h1{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 60px;
    color: orangered;
    margin: 50px;
    width: 60%;
    padding: 10px;
}

p{
  width: 60%;
  margin: auto;
}

img{ 
    display: block;
    width: 350px;
    margin: 0 auto;
}

/*more in-depth stlying of link*/
/*Love & hate*/

a:link,
a:visited{
    color: #86a2ac;
    text-decoration: none;
}

a:hover,
a:active {
    color: whitesmoke;
    background-color: orangered;
}

.text {
    margin-bottom: 42px;

}

.text2 {
    margin-top: 42px;

}
/* these get your boxes together*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}