@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

body{
    /* CSS goes here */
    background-color: whitesmoke;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 35px;
    color: red;
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');

h1{
    font-family: font-family: 'EB Garamond', serif;
    margin: auto;
    width: 79%;
    border 3px solid green;
    padding: 10px;

}